body {
    font-family: Arial;
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.msg {
    margin-top: 10px;
    font-weight: bold;
}

.password-box {
    position: relative;
    width: 100%;
}

.eye {
    position: absolute;
    right: 10px;
    top: 11px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 50%;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
}

.eye.open {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(0deg);
}